#overlay{
	position:absolute;
	height:100%;
	cursor:pointer;
	width:$bar-outter-width;
	margin-left:-$bar-outter-width /2;
	
	.line{
		height: 100%;
		margin-left:$bar-outter-width / 2;
		width: $bar-inner-width;
		background-color:$main-color;
	}

	.arrow{
		display: block;
		position:absolute;
		top:0;
		left:$bar-outter-width /2;
		width:$bar-outter-width /2;
		height:100%;
		background:url('../images/arrow.png') no-repeat right;
		background-size:$bar-icon-size;
		box-sizing:border-box;
		opacity: 0;

		&.left{
			left:0;
		}

		&.right{
			transform:rotateZ(180deg);
		}

		&.show{
			opacity: 1;
			transition:opacity 0.5s;
		}
	}

	&:active{
		.line, .arrow{opacity: 0.5;}

	}
}

