
@mixin box-shadow($x,$y,$blur,$color)
{
	-webkit-box-shadow: $x $y $blur $color;
	-moz-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin user-select($value)
{
	-webkit-user-select:$value;
	-moz-user-select:$value;
	-ms-user-select:$value;
	user-select:$value;
}

@mixin radial-gradient($inner,$outter)
{
	background: $inner; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  $inner 0%, $outter 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$inner), color-stop(99%,$outter)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  $inner 0%,$outter 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  $inner 0%,$outter 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  $inner 0%,$outter 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  $inner 0%,$outter 99%); /* W3C */
}

@mixin animation($animation)
{
	-webkit-animation:$animation;
	-moz-animation:$animation;
	-o-animation:$animation;
	animation: $animation;
}

@mixin keyframes($name)
{
	@-webkit-keyframes #{$name}{
		@content;
	}

	@-moz-keyframes #{$name}{
		@content;
	}

	@-o-keyframes #{$name}{
		@content;
	}

	@keyframes #{$name}{
		@content;
	}
}